body {
       font-family: Arial, sans-serif;
}   
.container div{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.image-container {
    margin: 10px;
    cursor: pointer; 
}
img {

    border: 2px solid #ccc; 
    border-radius: 8px; 
}